.listaDePosts{
    box-sizing: border-box;
    background-color: rebeccapurple;
    height: 90vh;
    width: 700px;
    border-radius: 40px;
    border: 5px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.seletorPagina{
    position:relative;
    bottom: 0;
    padding-bottom: 5px;
    padding-top: 40px;
    display: flex;
    width: 80%;
    justify-content: center;
}