.backgroundModal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
}

.content{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    border: 3px solid gray;
    background-color: rgba(0, 0, 0, 0.9);
}

.botaoFechar{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

.comentarios{
    height: 100%;
    overflow: auto;
}

.nomeFoto{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}